/*Both the header and the paragraph are positioned at the top of the page.

Make sure that the header is placed on top of the paragraph. */

#mytitle
 {
  position: absolute;
  top: 0;
  z-index: 1;  
}
#myintro{
  position: absolute;
  top: 0;
  z-index: 0;
}