/*Add a 2 second transition effect for width changes of the <div> element. */

div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }
  
  div:hover {
    width: 300px;
  }